﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ExceptionAlertInduction.ascx.cs" Inherits="Honeycomb.Web.UserControls.Dashboard.ExceptionAlertInduction" %>
<script src="/usercontrols/dashboard/exceptionalertinduction.ascx.js"></script>
<div id="exceptionalertinductionWidget" class="dashboardWidgets">
	<div class="innerContainer">
		<h1 id="exceptionalertinductionWidgetVal">0</h1>
        <h2>Residents</h2>
        <p>Induction not attended</p>
	</div>
</div>