﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FirstSaleReport.aspx.cs" Inherits="Honeycomb.Web.Pages.Reports.FirstSaleReport" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <span class="report"> First Sale 
        <table width="800px" align="center" >


          

        <asp:Repeater ID="Repeater1" runat="server" >

            <HeaderTemplate>
 <tr>
            <td style="background-color: rgb(57, 105, 156);" scope="col" align="left" width="30%"> Erf Number</td>
            <td style="background-color: rgb(57, 105, 156);" scope="col" align="left" width="30%">Address</td>
            <td style="background-color: rgb(57, 105, 156); scope="col" align="left" width="30%">Owner Name</td>
            
          </tr>
            </HeaderTemplate>
            <AlternatingItemTemplate>
           <tr style="border:1px solid #423f3f;">
         
          <td align="left"  width="30%"><%#Eval("erfName") %> </td>
          <td align="left" width="30%"><%#Eval( "address") %></td>
          <td align="left" width="30%"><%#Eval( "OwnerName") %></td>
        </tr>
            </AlternatingItemTemplate>
        </asp:Repeater>

  <table/>
    </form>
</body>
</html>
