﻿
#OnceOffTableContainer {
	display:block;
	font-family:Arial;
}

#OnceOffTableContainer table th {
	padding:0 10px 0 0;
	text-align:left;
}

#OnceOffTableContainer table th:last-child {
	padding-right:0;
}
