﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HorizontalMenu.ascx.cs" Inherits="Honeycomb.Web.MasterPage.UserControls.HorizontalMenu" %>
<asp:Literal runat="server" ID="litHorizontalMenuContainer"></asp:Literal>