﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VerticalMenu.ascx.cs" Inherits="Honeycomb.Web.MasterPage.UserControls.VerticalMenu" %>
<asp:Literal ID="litVerticalMenuContainer" runat="server" ></asp:Literal>