﻿/* Begin Property Staff styles */

li.ui-state-disabled a {
    background-image:none;
    background:#eee !important;
    color:#CCC;
}

.example {
position: relative;
top: 168px;
}

.fubUploadButton {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    background:#666;
    opacity:0.5;
    color:#fff;
}

.photoDiv {
    width:150px;
    height:200px;
    background-size:auto;
    background-repeat:no-repeat;
    background-color:#D0D0D0;
    background-position:center;
}

.photoDivWithPhoto {
    background-size: auto 200px;
}

.buttonsdiv {
    margin:20px 0 0 20px;
}

/* End Property Staff styles */

/* Custom styles for divs */

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}

.clearMe:after {content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}

/*Custom styles for tables of forms*/
.details {

}

.details .label {
    padding-right:20px;
    font-weight:bold;
    
}

.details .formfield {
    width:200px;
    padding-right:20px;
}

.details .formfield input {
    width:180px;
}

.details .formfield, .details .label {
    padding-top:5px;
}

/* Custom styles for view history */
#historyLeft {
    width:30%;
}

#historyRight {
    width:65%;
}

#historyLeft table tr td:first-child {
    padding-right:20px;
    font-weight:bold;
    white-space:nowrap;
}

#historyLeft tr td {
    padding-bottom:10px;
}

#historyRight textarea {
    cursor:default;
}

#historyRight h4 {
    margin-bottom:10px;
}

#historyRight textarea {
    margin-bottom:10px;
}
/* end */

/* form styles for elements that are not nested inside a form */

.ui-state-disabled {
    background:#CCC;
}

.form input[type=text],form input[type=password] { 
	padding: 8px 5px; border: 1px solid #ccc; width: 180px; -moz-border-radius: 2px; -webkit-border-radius: 2px; 
	border-radius: 2px; background: #fcfcfc; vertical-align: middle; -moz-box-shadow: inset 0 1px 3px #ddd; 
	-webkit-box-shadow: inset 0 1px 3px #ddd; box-shadow: inset 0 1px 3px #ddd; color: #666;
}
.form input:focus { 
	background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee;
}

.form p, .stdform div.par { margin: 10px 0; }
.form div.par { overflow: hidden; }
.form span.field, .stdform div.field { margin-left: 20px; display: block; position: relative; }
.form .formwrapper { display: block; padding-top: 5px; margin-left: 20px; line-height: 25px; }
.form label { float: left;width:80px; text-align: right; padding: 5px 20px 0 0; }
.form .isDatePicker {
    width:180px;
}

/*header and menu overides*/
.vernav2 {
top: 115px;
}

.headermenu li a span.icon {
height: 40px;
}

/*overide defaults styles*/

.topheader {
width: 530px;
}

/* occupant content block styles */

.contentBlock {
    background: #F2F2F2;
    border-radius: 5px;
    padding:0 10px 10px 10px;
}

/*end occupant content block styles*/

/*Ownership history styles*/

.OwnershipHistoryTable {
    padding:10px;
}

.OwnershipHistoryTable td {
    padding-right:30px;
    white-space:nowrap;
}

.OwnershipHistoryTable td.title {
    font-weight:bold;
}

.ui-box {
    border:1px solid #CCC;border-radius:3px;padding:0 10px 10px 10px;
}

.pageheader .pagetitle {
/*margin: 0 10px;*/
font-size: 22px;
min-height:21px;
}

.pageheader .pagedesc {
    margin:10px 15px 0;
}

.hornav {
    height:32px;
}

.hornav li a {
    padding:5px 20px;
 }

.stdtable tbody tr td { padding: 5px 10px 0; }

/* begin table grid specific styles */
.tblRowDeleted {
    background-color:#ccc;
    color:#fff;
}
/* end table grid specific styles */

/* a class for controlling padding on content inside a wizard step or perhaps even any other content that needs padding */
.padded {
    padding:20px;

}

.clearMe:after {
content: ".";
display: block;
height: 0;
font-size: 0;
clear: both;
visibility: hidden;
}

/* Button disabled styles */

button[disabled].stdbtn:active, button[disabled].stdbtn, button[disabled].stdbtn:hover {
    color: GrayText;
    cursor: inherit;
    background: #ccc;
    border-color: #aaa;
    opacity: 0.8;
}

/* tagit overide styles*/
.tagit {
    padding: 6px 5px;
    border: 1px solid #ccc;
    width: 85%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    background: #fcfcfc;
    color: #666;
}

.tagit-choice {
      -webkit-border-radius: 2px;
  -moz-border-radius   : 2px;
  border-radius        : 2px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  color: #666;
  border: 1px solid #bbb;
  line-height: 13px;
  padding: 5px 20px 4px 5px;
  margin: 3px 0 3px 3px;
  position: relative;
  cursor: default;
}

/* Begin Tag Holder plugin styles */

.tagHolderButt {
    display:inline-block!important;
    margin-left:10px;
    vertical-align:bottom;
}

.tagHolderInput {
    width:133px!important;
}

.legendCalendarbutton {
	position: absolute;
	top: 15px;
	right: 45px;
}

#calendarLegend {
	position: absolute;
	top: 25px;
	right: 105px;
	width:200px;
	color:#fff;
	display:none;
}

#calendarLegend div {
	padding:5px;
}

.Pending {
	background-color: #FB9337;
}
.Cancelled {
	background-color: #DC143C !important;
}

.dashboardWrapper {
	padding:10px;
}

#DashBoardTable {
	display:table;
	width:100%;
}

#DashBoardRow {
	display:table-row;
}

#TableContainer {
	width:300px;
	height:100%;
	margin-right:10px;
	display:table-cell;
	vertical-align:top;
}

#WidgetContainer {
    width:135px;
    height:100%;
    padding-top:5px;
    padding-left:5px;
	display:table-cell;
	vertical-align:top;
}

#GraphContainer {
	width:auto;
    margin-right:160px;
    min-height:100%;
	display:table-cell;
	vertical-align:top;
}

	#GraphContainer .dashboardWidget {
		height:309px;
	}

#TableContainer .dashboardWidget {
	width:100%;
}

#TableContainer .dashboardWidget .dashboardGraph {
	height:auto;
}

#TableContainer .dashboardWidget .innerContainer {
	min-height:100px!important;
}

.dashboardWidget {
	width: 25%;
	box-sizing: border-box;
	float: left;
}

.dashboardWidget.width2X {
	width: 50%;
}

.dashboardWidget.width3X {
	width: 75%;
}

.dashboardWidget.width4X {
	width: 100%;
}

.dashboardWidget .innerContainer {
	margin: 5px;
	border: 1px solid #ddd;
	min-height: 250px;
	position:relative;
	border-radius: 3px;
}

.dashboardWidget h2 {
	background: #eee;
	padding: 10px;
	font-size: 14px;
	font-weight: normal;
}

	.dashboardWidget .graphContainer {
		display: table;
		width: 100%;
		padding: 6px 6px 0px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.dashboardWidget .graphButtons {
		position: absolute;
		right: 6px;
		top: 6px;
	}

	.dashboardWidget .graphButtons button {
		line-height: 15px;
	}

	.dashboardWidget .graphButtons button.refresh {
		padding: 4px 10px;
		
}

	.dashboardWidget .graphButtons button.refresh span{
		background: url(../images/icons/sprites.png); 
		padding-left: 16px;
		background-position: -199px -199px;
		line-height: 21px;
		padding-bottom: 4px;
	}

.dashboardWidget .dashboardGraph {
	display: table-cell;
	width: auto;
	height: 250px;
}
	.dashboardWidget .legend {
		display: table-cell;
		width: 80px;
		padding-top: 10px;
	}

	.dashboardWidget.tableWidget h2 {
		background: #fff;
	}
	.dashboardWidget.tableWidget .graphContainer {
		padding: 0;
	}

	.dashboardWidget.tableWidget .dashboardGraph table {
		border-collapse: collapse;
		border: hidden;
	}

	.dashboardWidget.tableWidget .dashboardGraph table th {
		padding: 4px;
		border: 1px solid #eee;
		background: #eee;
	}
	.dashboardWidget.tableWidget .dashboardGraph table td {
		border: 1px solid #eee;
		padding: 4px;
		width:auto;
	}

	.dashboardWidget.tableWidget .dashboardGraph table td:first-child {
		width:170px;
	}

/*.tickLabel {
	transform: rotate(90deg);
}*/

#flotTip  {
	font-size: 12px !important;
}



.dashboardWidgets .innerContainer { 
	float: left; 
    margin-bottom: 10px; 
    width: 120px; 
    height: 70px; 
    background: #3366cc; 
	padding: 10px; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;  
    border-radius: 2px; 
    position: relative; 
    color:#fff;
    background-image:url(../images/refresh_small.png);
    background-repeat: no-repeat;
    background-position: 125px 4px; 
}

    .dashboardWidgets .innerContainer h2 {
        font-size: medium;
        margin-top: 15px;
        margin-bottom:0px;
    }
    .dashboardWidgets .innerContainer p {
        margin-top: -5px;
        margin-bottom:0px;
        font-size:10px;
    }