﻿body {
    font-family:Arial;
    font-size:12px;
    padding:10px;
}


/* Custom styles for divs */

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}

.clearMe:after {content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}

.separator {
    margin:10px 0;
    height:2px;
    background:#000;
}

.lightSeparator {
    margin:10px 0;
    height:2px;
    background:#000;
}

#reportContainer {
    width:670px;
}

#historyLeft {
    width:320px;
}

#historyRight {
    width:320px;
}

#historyRight h4:first-child {
    margin-top:0;
}

.incidentUpdate {
    margin-top:15px;
}

.updateContainer {
    width:670px;
    margin-top:10px;
}

.incidentDesc {
    width:550px;
    margin-right:40px;
}

.incidentPhoto {
    width:80px;
}

.incidentDateHeader {
    font-weight:bold;
}

a {
    text-decoration:none;
    color:#fc9538;
    font-weight:bold;
}

h1 {
    margin-top:0;
    margin-bottom:0;
    font-size:20px;
}

h2 {
    margin-top:0;
    font-size:14px;
}

