/* #ff4800 */


.loginboxinner { background: #222; }
.loginbox .logo h1 { border-bottom: 1px solid #333; }
.loginbox .logo h1 span { color: #ff4800; }
.loginbox button { background-color: #ff4800; }
.loginf { background-color: #111; border-bottom: 1px solid #333; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.loginbox button:hover { background-color: #de4204; }

.topheader { background: #111; border-bottom: 1px solid #090909; }
.header { 
	background: #222; -moz-box-shadow: inset 0 1px 0 #333; -webkit-box-shadow: inset 0 1px 0 #333; box-shadow: inset 0 1px 0 #333; 
	border-bottom-color: #ff4800;
}
.search input[type="text"] { background: #eee; border: 0; color: #666; }
.topheader .left h1.logo { color: #ff4800; }
.topheader .left .slogan { border-left: 1px solid #222; }
.topheader .left .slogan { color: #666; }
.search .submitbutton { background-image: url(../images/contrast/searchbutton.png); border-bottom: 0; }
.notification a.count { border-bottom: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.userinfo { background-color: #333; background-image: url(../images/contrast/userinfoarrow.png); border-bottom: 0; 
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.userinfo:hover { background-color: #373737; }
.userinfo span { color: #ccc; }
.headermenu { border-right: 1px solid #333; }
.headermenu li { border-left: 1px solid #333; border-right: 1px solid #171717; }
.headermenu li.current { border-right: 0; }
.headermenu li.current a { background: #161616; -moz-box-shadow: inset 0 1px 0 #222; -webkit-box-shadow: inset 0 1px 0 #222; box-shadow: inset 0 1px 0 #222; }
.headermenu li a:hover { background: #272727; -moz-box-shadow: inset 0 1px 0 #333; -webkit-box-shadow: inset 0 1px 0 #333; box-shadow: inset 0 1px 0 #333; }
.headerwidget .earnings { background: #111; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border-bottom: 1px solid #333; }
.ui-menu .ui-menu-item a { background: #272727; border-bottom: 1px solid #333; }
.ui-menu .ui-menu-item a:hover { background: #111; color: #ff4800; }
.pageheader .pagetitle { color: #333; }
.hornav li.current a { color: #333; }
.contenttitle2 { border-bottom-color: #ff4800; color: #333; }
.toplist li .desc { color: #999; }
.shortcuts li a:hover { border-color: #000; }
.widgetbox .title { color: #333; border-bottom-color: #ff4800; }
.notitab li.current a { background-color: #ff4800;}
.notitab li a:hover { color: #000; }
.msglist li .thumb:hover { border: 1px solid #ff4800; }
.msgbutton a:hover, .userdata ul li a:hover { background-color: #ff4800; }
.vernav2 ul li a { color: #333; }
.actlist li a:hover { color: #ff4800; }
.userdata ul li a:hover { background-color: #ff4800; }
.hornav li.current a { color: #ff4800; }
.contenttitle2, .widgetbox .title { border-bottom-color: #ff4800; }
.toplist li .desc { color: #ff4800; }
.ui-state-active a { color: #ff4800; }
.ui-accordion-header a:hover { color: #ff4800; }
.entry_content h4 a { color: #ff4800; }
.vernav2 ul li.current a { color: #ff4800; }
.vernav2 ul li.current ul li.current a { color: #ff4800; }
.vernav ul li span.arrow, .vernav2 ul li span.arrow { background-image: url(../images/contrast/menuarrow.png); }
.iconmenu ul li a { background-image: url(../images/contrast/icons_sprite.png); }
.vernav2 ul li.current a:hover { background-image: url(../images/contrast/icons_sprite.png); }
.menucoll2 > ul > li.current > a { background-image: url(../images/contrast/icons_sprite.png); }
.menucoll2 ul li.current ul span { color: #ff4800; }
div.tagsinput span.tag { background-color: #ff4800; border-color: #de4204; }
form button { background-color: #ff4800; border-color: #de4204; }
.vernav ul li.current a { color: #ff4800; }
.contenttitle { color: #ff4800; }
.stdtable a.title:hover { color: #ff4800; }
.stdtable .actions a:hover { color: #ff4800; }
.quickform .quickformbutton button.update { background-color: #ff4800; border-color: #de4204; }
#popup_ok { background-color: #ff4800; border-color: #de4204; opacity: 0.8; }
#popup_ok:hover { background-color: #ff4800; border-color: #de4204; opacity: 1; }
.wizard .hormenu li a.selected span.h2, .wizard .hormenu li a.done span.h2 { color: #ff4800; }
.wizard .hormenu li a span.dot span { background-image: url(../images/contrast/steps.png); }
.actionBar a { background-color: #ff4800; border-color: #de4204; }
.wizard .tabbedmenu li a.selected span.h2, .wizard .tabbedmenu li a.selected span,
.wizard .tabbedmenu li a.done span.h2, .wizard .tabbedmenu li a.done span{ color: #ff4800; }
.verwizard .verticalmenu a.selected { background-color: #ff4800; }
.editornav li.current a { color: #ff4800; }
form input[type="submit"] { background-color: #ff4800; border-color: #de4204; }
.filemgr_menu li a.newfilebutton { background-color: #ff4800; border-color: #de4204; }
.listfile li.selected a { background: #eaf3fc; border-color: #ff4800; }
.ui-slider-vertical .ui-slider-range, .ui-slider-horizontal .ui-slider-range { background-color: #ff4800; }
.pagination li a.current { background-color: #ff4800; border-color: #de4204; }
.slide_content h4 a { color: #ff4800; }
.ui-datepicker-calendar td.ui-datepicker-today a { background-color: #ff4800; }
.external-event { background-color: #ff4800; }
.fc-header-title { border-bottom-color: #ff4800; }
.fc-button-prev:hover, .fc-button-next:hover { color: #ff4800; }
.fc-header-left span.fc-state-active { color: #ff4800; }
.fc-event { background-color: #ff4800 !important; }
.widgetbox .title { border-bottom-color: #ff4800; }
.contactlist li span.msgcount { background-color: #ff4800; }
.chatcontent .messagebox button { background-color: #ff4800; border-color: #de4204; }
.dataTables_paginate .paginate_active { background-color: #ff4800; border-color: #de4204; }
.orangeborderbottom5 { border-bottom: 5px solid #ff4800; }
.updatecontent .top .user, .commentcontent .top .user { color: #ff4800; }
.profile_summary li a span { color: #ff4800; }
.orangeboldlink { color: #ff4800; }
.recentshots h4 a { color: #ff4800; }
.userfollow .cn a:hover { color: #ff4800; }
.blogsummary h3 a:hover { color: #ff4800; }
.prodlist li a { color: #ff4800; }
.ps_sidebar .ps_authorinfo a { color: #ff4800; }
.search .searchicon { 
	background-color: #333; border: 1px solid #222; border-bottom: 0; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; 
}
.search .searchinner { background: #222; }
.search .searchcancel { background-image: url(../images/contrast/searchcancel.png); }

.ui-dialog-buttonpane .ui-button {
    border: 1px solid #DE4204;
    background: #FF4800;
}
.ui-dialog-buttonpane .ui-button.ui-state-hover {
    border: 1px solid #3F526F;
    background: #485B79;
}
