.bodywrapper { background: url(../images/headerbg/btl.png) repeat-x center top; }
.topheader { background-image: url(../images/headerbg/bluetrans2.png); background-color: transparent; border-bottom: 0; height:30px;}
.header { background-image: url(../images/headerbg/bluetrans.png); background-color: transparent; }