﻿/* #1BD6E0 / #2286e2 */

.loginbox { background: #fff; }
.loginboxinner { background-color: #32415a; }
.loginbox .logo h1 { color: #fff; border-bottom: 1px solid #56647d; }
.loginbox .logo h1 span { color: #1BD6E0; }
.loginbox .logo p { color: #eee; }

.loginbox .username { background-color: #eee; }
.loginbox .usernameinner { border-left: 1px solid #ddd; background: #fff; }
.loginbox .password { background-color: #eee; }
.loginbox .passwordinner { border-left: 1px solid #ddd; background: #fff; }
.loginbox .password input { color: #666; }

.loginbox button { background-color: #1BD6E0; }
.loginbox button:hover { background-color: #2288e6; }
.loginbox .keep { color: #ccc; }
.loginbox .loginmsg { background: #fffccc; color: #333; }
.loginf { background: #2e3e59; border-bottom: 1px solid #475875; }

.loginpage .nopassword { color: #fff; }
.loginpage .nopassword .thumb { background: #fff; }
.loginpage .nopassword .userlogged a { color: #1BD6E0; }
.topheader .left h1.logo a { color: #1BD6E0; } 

.shortcuts li a:hover { border-color: #1BD6E0; }
.topheader .left h1.logo { color: #1BD6E0; }
.header { border-bottom-color: #1BD6E0; }
.headermenu li.current a { background-image: url(../images/blueline/arrow-active.png); }
.notitab li.current a { background-color: #1BD6E0; }
.notitab { border-bottom-color: #1BD6E0; }
.notitab li a:hover { color: #1BD6E0; }
.msglist li .thumb:hover { border-color: #1BD6E0; }
.msgbutton a:hover { background-color: #1BD6E0; }
.actlist li a:hover { color: #1BD6E0; }
.userdata ul li a:hover { background-color: #1BD6E0; }
.hornav li.current a { color: #1BD6E0; }
.contenttitle2, .widgetbox .title { border-bottom-color: #1BD6E0; }
.toplist li .desc { color: #1BD6E0; }
.ui-state-active a { color: #1BD6E0; }
.ui-accordion-header a:hover { color: #1BD6E0; }
.entry_content h4 a { color: #1BD6E0; }
.vernav2 ul li.current a { color: #1BD6E0; }
.vernav2 ul li.current ul li.current a { color: #1BD6E0; }
.vernav ul li span.arrow, .vernav2 ul li span.arrow { background-image: url(../images/blueline/menuarrow.png); }
.iconmenu ul li a { background-image: url(../images/blueline/icons_sprite.png); }
.vernav2 ul li.current a:hover { background-image: url(../images/blueline/icons_sprite.png); }
.menucoll2 > ul > li.current > a { background-image: url(../images/blueline/icons_sprite.png); }
.menucoll2 ul li.current ul span { color: #1BD6E0; }
div.tagsinput span.tag { background-color: #1BD6E0; border-color: #2286e2; }
form button { background-color: #1BD6E0; border-color: #2286e2; }
.vernav ul li.current a { color: #1BD6E0; }
.contenttitle { color: #1BD6E0; }
.stdtable a.title:hover { color: #1BD6E0; }
.stdtable .actions a:hover { color: #1BD6E0; }
.quickform .quickformbutton button.update { background-color: #1BD6E0; border-color: #2286e2; }
#popup_ok { background-color: #1BD6E0; border-color: #2286e2; opacity: 0.8; }
#popup_ok:hover { background-color: #1BD6E0; border-color: #2286e2; opacity: 1; }
.wizard .hormenu li a.selected span.h2, .wizard .hormenu li a.done span.h2 { color: #1BD6E0; }
.wizard .hormenu li a span.dot span { background-image: url(../images/blueline/steps.png); }
.actionBar a { background-color: #1BD6E0; border-color: #2286e2; }
.wizard .tabbedmenu li a.selected span.h2, .wizard .tabbedmenu li a.selected span,
.wizard .tabbedmenu li a.done span.h2, .wizard .tabbedmenu li a.done span{ color: #1BD6E0; }
.verwizard .verticalmenu a.selected { background-color: #1BD6E0; }
.editornav li.current a { color: #1BD6E0; }
form input[type="submit"] { background-color: #1BD6E0; border-color: #2286e2; }
.filemgr_menu li a.newfilebutton { background-color: #1BD6E0; border-color: #2286e2; }
.listfile li.selected a { background: #eaf3fc; border-color: #1BD6E0; }
.ui-slider-vertical .ui-slider-range, .ui-slider-horizontal .ui-slider-range { background-color: #1BD6E0; }
.pagination li a.current { background-color: #1BD6E0; border-color: #2286e2; }
.slide_content h4 a { color: #1BD6E0; }
.ui-datepicker-calendar td.ui-datepicker-today a { background-color: #1BD6E0; }
.external-event { background-color: #1BD6E0; }
.fc-header-title { border-bottom-color: #1BD6E0; }
.fc-button-prev:hover, .fc-button-next:hover { color: #1BD6E0; }
.fc-header-left span.fc-state-active { color: #1BD6E0; }
.fc-event { background-color: #1BD6E0 !important; }
.widgetbox .title { border-bottom-color: #1BD6E0; }
.contactlist li span.msgcount { background-color: #1BD6E0; }
.chatcontent .messagebox button { background-color: #1BD6E0; border-color: #2286e2; }
.dataTables_paginate .paginate_active { background-color: #1BD6E0; border-color: #2286e2; }
.orangeborderbottom5 { border-bottom: 5px solid #1BD6E0; }
.updatecontent .top .user, .commentcontent .top .user { color: #1BD6E0; }
.profile_summary li a span { color: #1BD6E0; }
.orangeboldlink { color: #1BD6E0; }
.recentshots h4 a { color: #1BD6E0; }
.userfollow .cn a:hover { color: #1BD6E0; }
.blogsummary h3 a:hover { color: #1BD6E0; }
.prodlist li a { color: #1BD6E0; }
.ps_sidebar .ps_authorinfo a { color: #1BD6E0; }

.ui-dialog-buttonpane .ui-button {
    border: 1px solid #2286e2;
    background: #1BD6E0;
}
.ui-dialog-buttonpane .ui-button.ui-state-hover {
    border: 1px solid #3F526F;
    background: #485B79;
}
