﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MaintenanceLookUpOptionTemplate.ascx.cs" Inherits="Honeycomb.Web.UserControls.MaintenanceLookUpOptionTemplate" %>
<div class="stdform">

  <div>


        ${lookuptypename}


        <td class="right" align="right"><a href="#" lookupid="${lookupid}" class="btn btn3 btn_search editlookup" style="margin-right: 10px;"></a><a href="#" lookupid="${lookupid}" class="btn btn3 btn_trash deletelookup"></a></td>
    </div>



</div>
